body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 221, 214, 1) 0%,
    rgba(51, 102, 255, 1) 90%
  );
  background-attachment: fixed;
  color: white;
}
img {
  width: 100%;
  height: auto;
}
.logo {
  max-width: 50px;
}
.chat-container {
  min-height: 80vh;
}
